.composer-require-checker.json
.editorconfig
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
phpunit.xml.dist export-ignore
/tests export-ignore
/specs export-ignore
.phpcq.lock export-ignore
.phpcq.yaml.dist export-ignore
psalm.xml export-ignore
phpcs.xml.dis export-ignore
