<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services
               https://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="contao_bootstrap.accordion.enable_wrapper_migration">%env(bool:default::BS_ACCORDION_WRAPPER_MIGRATION)%</parameter>
    </parameters>

</container>
